[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django-debug-toolbar = "*"
djangorestframework = "*"
drf-nested-routers = "*"
djoser = "*"
djangorestframework-simplejwt = "*"
django-filter = "*"
mysqlclient = "*"
django = "*"
pillow = "*"
django-cors-headers = "*"
django-templated-mail = "*"
celery = "*"
flower = "*"
redis = "*"
django-redis = "*"
colored-traceback = "*"
django-silk = "*"
whitenoise = "*"
gunicorn = "*"
dj-database-url = "*"

[dev-packages]
pytest-django = "*"
pytest-watch = "*"
model-bakery = "*"
locust = "*"
django-silk = "*"
pytest = "*"

[requires]
python_version = "3.9"
